@model Tactsoft.Core.Entities.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">Employee Delete</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.FristName)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.FristName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.MiddleName)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.MiddleName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.LastName)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.LastName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.DateOfBirth)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.DateOfBirth)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.NID)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.NID)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.ReligionId)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.Religion.ReligionName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.MaritialStatusId)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.MaritialStatus.MaritialStatusName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.Nationalaty)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.Nationalaty)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.GenderId)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.Gender.GenderName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.CompanyInfo.CompanyName)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.CompanyInfo.CompanyName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.BrancehId)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.BranchInfo.BranceName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.ProjectId)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.project.ProjectName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.JoiningDate)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.JoiningDate)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.UserName)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.UserName)
                                </dd>
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.Password)
                                </dt>
                                <dd class="col-md-9">
                                    @Html.DisplayFor(model => model.Password)
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <dl class="row">
                                <dt class="col-md-3">
                                    @Html.DisplayNameFor(model => model.Picture)
                                </dt>
                                <dd class="col-md-9">
                                    <img src="~/images/employees/@Html.DisplayFor(model => model.Picture)" alt="Image" width="200" class="img-thumbnail" />
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <p style="color:red; font-size:24px; text-align:center">
                                Are You Sure You Want To Delete This
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">

                        <a class="btn btn-outline-danger btn-sm mr-2" asp-action="Index">
                            <i class="far fa-window-close"></i> Cancel
                        </a>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
                                <i class="fa-regular fa-pen-to-square"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>






