@model Tactsoft.Core.ViewModel.SalarySetupModel

@{
    ViewData["Title"] = "SalarySetup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Employee Salary Setup</h3>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="PayRoll" asp-action="SalarySetup">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="DepartmentId"></label>
                                    <select class="form-control form-control-sm" asp-for="DepartmentId" asp-items="@ViewBag.DepartmentId">
                                        <option value="">Select Department</option>
                                    </select>
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="EmployeeId"></label>
                                    <select asp-for="EmployeeId" class="form-control form-control-sm" asp-items="@ViewBag.EmployeeId">
                                        <option value="">Select Employee</option>
                                    </select>
                                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <input class="btn btn-primary mt-2 btn-sm" type="submit" value="Employee A/D" />
                            </div>
                        </div>
                    </form>

                    @if (Model.SalarySetupList != null)
                    {
                        <form method="post" action="SaveSalarySetup">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Allowance/Deduction Name</th>
                                        <th>Type</th>
                                        <th>IsPresent</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SalarySetupList)
                                    {
                                        <tr>
                                            <td>
                                                @item.AllowanceDeductionName
                                                <input type="hidden" name="SalarySetupList[@i].SalarySetupId" value="@item.SalarySetupId" />
                                                <input type="hidden" name="SalarySetupList[@i].AllowanceDeductionId" value="@item.AllowanceDeductionId" />
                                                <input type="hidden" asp-for="EmployeeId" />
                                                <input type="hidden" asp-for="DepartmentId" />

                                            </td>
                                            <td>
                                                @item.AllowanceDeductionType
                                            </td>
                                            <td>
                                                <input asp-for="@item.IsPercent" type="checkbox" name="SalarySetupList[@i].IsPercent" />
                                            </td>
                                            <td>
                                                <input asp-for="@item.Value" type="number" name="SalarySetupList[@i].Value" />
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-success btn-sm"> Save Changes</button>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
    </section>
</div>
